.container {
    /* max-width: 800px; */
    margin: 0 auto;
    display: grid;
    gap: 1rem;
    /* grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); */
    grid-template-columns: 1fr 2fr;
    margin-bottom: 0;
    border: px solid red;
  }
  
  .title {
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: center;
    border: 0px solid;
    margin-top: -15px;
    animation-name: slide-in;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
  }
  
  .form {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
  }
  
  .input {
    flex-grow: 1;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background-color: #0366d6;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    animation: slide-left 2s ease-in-out;
  }
  
  .button:hover {
    background-color: #0056b3;
  }
  
  .filterContainer {
    /* display: flex; */
    gap: 1rem;
    margin-bottom: 1rem;
  }
  
  .select {
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 0.5rem 0.5rem 0.5rem 0;
    width: 100%;
  }

  #searchInput {
    margin: 0.5rem auto;
    width: 98%;
    
  }

  #searchInput2 {
    display: none;
    margin: 0.5rem auto;
    
  }

  .avatarContainer {
    margin-top: 1rem;
  }

  .repoContainer {
    border: px solid red;
    overflow-x: auto;
    height: 80vh;
    margin-bottom: 0;
  }

  * {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
  }
  
  ::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and Edge */
  }

  
  .repoList {
    list-style-type: none;
    padding: 0;
  }
  
  .repoItem{
    background-color: #f6f8fa;
    border: 1px solid #e1e4e8f1;
    border-radius: 6px;
    padding: 1rem;
    margin-bottom: 1rem;
    animation-name: slide-right;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
  }


  
  .repoAvatar {
    animation-name: slide-up;
    animation-duration: 2s;
  }
  
  .repoItem h3, .repoAvatar h3 {
    margin-top: 0;
    margin-bottom: 0.5rem;
  }
  
  .repoItem p, .repoAvatar p {
    margin-bottom: 0.5rem;
  }
  
  .repoItem a, .repoAvatar a {
    color: #0366d6;
    text-decoration: none;
  }
  
  .repoItem a:hover, .repoAvatar a:hover {
    text-decoration: underline;
  }
  
  .pagination {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    margin-top: 1rem;
  }
  
  .pageButton {
    padding: 0.25rem 0.5rem;
    font-size: 1rem;
    background-color: #f6f8fa;
    border: 1px solid #e1e4e8;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .pageButton:hover {
    background-color: #0366d6;
    color: white;
  }
  
  .activePage {
    background-color: #0366d6;
    color: white;
  }
  #avatarUl{
    border: 0px solid red;
    list-style: none;
    margin-top: 0;
    padding: 0;
    
    
    
  }
  #avatarUl li{
    display: inline-block;
    text-align: center;
    margin: 0 auto;
    border: 0px solid green;
    padding-bottom: 0;
    
  }

  #avatarUl li a, #avatarUl li button{
    color: white;
    background-color: #0366d6;
    border: 0;
    padding: 5px 10px;
    border-radius: 5px;
  }

  input, select {
    animation-name: slide-in;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    
  }

  @keyframes slide-in {
    from {
      /* margin-left: 100%;
      width: 50%; */
      transform: translateX(100%);
    }
    to {
      /* margin-left: 0%;
      width: 100%; */
      transform: translateX(0%);
    }
  }
  @keyframes slide-left {
    from {
      /* margin-left: -200%;
      width: 0%; */
      transform: translateX(-100%);
    }
    to {
      /* margin-left: 0%;
      width: 96%; */
      transform: translateX(0%);
    }
  }
  @keyframes slide-up {
    /* from {
      margin-left: -200%;
      height: 0%;
    }
    to {
      margin-left: 0%;
      height: 5%;
    } */
    from {
      opacity: 0;
      transform: translateY(-100%);
    }
    to {
      opacity: 1;
      transform: translateY(0%);
    }
  }

  @keyframes slide-right {
    from {
      /* margin-left: 100%;
      width: 50%; */
      transform: translateX(100%);
    }
    to {
      /* margin-left: 0%;
      width: 100%; */
      transform: translateX(0%);
    }
  }
  
  @media (max-width: 668px) {
    .container {
      grid-template-columns: 1fr;
    }
    .form,
    .filterContainer {
      flex-direction: column;
    }
  
    .input {
      width: 95%;
    }
  
  .button,.select {
    width: 100%;
    box-sizing: border-box;
  }
  .repoItem, .repoAvatar {
    padding: 0.5rem;
    width: 95%;
  }

  #searchInput {
    display: none;
  }

  #searchInput2 {
    display: block;
  }
}
  